doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../../public/stylesheets/bootswatch.css')
    link(rel='stylesheet', href='../../public/stylesheets/dre.css')

body
  div(class="container")
    h4 [DRE] Admin Links
      hr
      p
      a(href='../apidocs') Reactions / Searches Lookup API Docs
      p
      a(href='./admin/searches') Search Terms
      p
      a(href='./admin/reactions') Reactions Dictionary
