/* COLORS
	- default body text     #222222
    - navbar background     #336E7B
*/


body{
    padding-top: 85px;
}

.title-space {
    margin-bottom: 25px;
}

.mc{
    width: auto;
    height: 175px;
    border-radius: 5px;
}

.mc-text {
    text-align: center;
    font-size: 24px;
    color: #222222;
    word-wrap: break-word;
    text-transform: uppercase;
}

.mc-text-back {
    color: #222222;
    word-wrap: break-word;
    text-transform: uppercase;
}

.term-container {
    height: auto;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    border-bottom: 3px solid #ffffff;
    font-weight: 600;
}
.def-container {
    height: 125px;
}

.mc-default {
    background-color: #F2F1EF;
    border: 2px #e9e8e4 solid;
}
.mc-navy {
    background-color: #34495E;
    color: #ffffff
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    padding: 10px;
}

.demo-placeholder {
    width: 100%;
    height: 350px;
}

.big-font {
    font-size: 3.5em;
}

.vs {
    font-size: 1.5em;
    color: #6C7A89;
}

.blue {
    color: #2574A9;
}

.pink {
    color: #E26A6A;
}

.green {
    color: #336E7B;
}

.ptext-big {
    font-size: 5em;
    letter-spacing: 5px;
    font-weight: 600;
}

/* CSS FLIP CARD */

.flip {
  -webkit-perspective: 800;
    position: relative;
}
.flip .card.flipped {
  -webkit-transform: rotatex(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
   
    cursor: pointer;
}
.flip .card .back {
  -webkit-transform: rotatex(-180deg);
    cursor: pointer;
}