<div class="container">
  <div class="row">
    <div class="col-md-3 text-center">
      <img src="../images/dev-challenge-logo.png" alt="M-Cubed and 540 logo" title="M-Cubed/ 540 Logo" width="100%" id="about-m3-540"/>
    </div>
    <div class="col-md-9">
      <h1>About Drug Reactions Explained</h1>
      <hr>
      <p>As medical terms get harder and harder to understand, Drug Reactions Explained (DRE) provides clear definitions to the medical terms used to describe the reactions patients have experienced when taking certain drugs.</p>
      <p>
        This project was inspired and developed for <a href="https://open.fda.gov/">openFDA</a>.
      </p>
      <h3>How to use DRE</h3>
      <p>Using the search bar, type a brand name or drug to begin. DRE provides the top 6 reaction cards associated with the searched term and an analytical dashboard.</p>
      <h5><strong>Reaction Cards</strong></h5>
      <p>
        The top 6 reactions associated with the searched term are populated into interactive cards. The reaction term is placed onto the front of the card. Clicking the card, flips it to the back where clear definitions are provided for better understanding.
      </p>
      <h5><strong>Card Actions</strong></h5>
      <p>
        <i class="fa fa-thumbs-o-up"></i> - Upvote a term definition
      </p>
      <p>
        <i class="fa fa-thumbs-o-down"></i> - Downvote a term definition
      </p>
      <p>
        <i class="fa fa-plus"></i> - Add a new term definition
      </p>
      <p>
        <i class="fa fa-repeat"></i> - Flip card
      </p>
      <h5><strong>Dashboard</strong></h5>
      <p>
        The dashboard provides an analytic view into openFDA's drug API and can view high level information in context of reported adverse effects of a drug/substance.
      </p>
      <h5><strong>Categories</strong></h5>
      <p>
        Use the sidebar to add or remove categories to refine the reults of a given searched term.
      </p>
      <p>
        <strong>Note:</strong> The results are in context of an adverse report which may contain one or more drugs. Information on the dashboard is not always in context of a single drug.
      </p>
      <hr>
  </div>

  </div>
  <div class="row">
    <div class="col-md-3 text-center">
      <img src="../images/github.png" alt="github logo" title="github" width="50%" id="about-github-logo"/>

    </div>
    <div class="col-md-9">
      <h3>GitHub!</h3>
      <p>Drug Reactions Explained is opensource. It's developed, and maintained on GitHub.</p>
      <a href="https://github.com/540co/ads-bpa" class="btn btn-dre">View the GitHub project</a>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 text-center">

    </div>
    <div class="col-md-9">
      <h3>Documentation</h3>
      <p>Swagger Docs helped create a simple resporesentation of our RESTful APIs. Checkout to our docs below!</p>
      <h3><a href="https://dre.540.co/apidocs/" class="">https://dre.540.co/apidocs/</a></h3>
    </div>
  </div>


  <div class="footer">
  </div>
</div>
