<div class="container">
  <div class="row">
    <div class="col-md-3 text-center">
      <img src="../images/dev-challenge-logo.png" alt="M-Cubed and 540 logo" title="M-Cubed/ 540 Logo" width="100%" id="about-m3-540"/>
    </div>
    <div class="col-md-9">
      <h1>About Drug Reactions Explained</h1>
      <hr>
      <p>As medical terms get harder and harder to understand, Drug Reactions Explained (DRE) provides clear definitions to the medical terms used to describe the reactions patients have experienced when taking certain drugs.</p>
      <p>
        This project was inspired and developed for <a href="https://open.fda.gov/">openFDA</a>.
      </p>
      <h3>How to use DRE</h3>
      <p>Using the search bar, type a brand name or drug to begin. DRE provides the top 6 reaction cards associated with the searched and an analytical dashboard.</p>
      <h5><strong>Reaction Cards</strong></h5>
      <p>
        The top 6 reactions associated with the searched term are populated into interactive cards. The reaction term is placed onto the front of the card. Clicking the card, flips it to the back where clear definitions are provided for better understanding.
      </p>
      <h5><strong>Card Actions</strong></h5>
      <p>
        Users can add definitions if none are defined. User also have the ability to upvote and downvote definitions depending on the quality of the term definition.
      </p>
      <h5><strong>Dashboard</strong></h5>
      <p>
        The dashboard provides an analytic view into openFDA's drug API. Users will gain insight into top manudactures, brands, gender and more reports.
      </p>
      <h5><strong>Filters</strong></h5>
      <p>
        Use the sidebar to select filter actions on the dashboard.
      </p>
      <hr>
  </div>

  </div>
  <div class="row">
    <div class="col-md-3 text-center">
      <img src="../images/github.png" alt="github logo" title="github" width="50%" id="about-github-logo"/>

    </div>
    <div class="col-md-9">
      <h3>GitHub!</h3>
      <p>Drug Reactions Explained is opensource. It's hosted, developed, and maintained on GitHub.</p>
      <a href="https://github.com/540co/ads-bpa" class="btn btn-dre">View the GitHub project</a>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 text-center">

    </div>
    <div class="col-md-9">
      <h3>Documentation</h3>
      <p>Swagger Docs helped create a simple resporesentation of our RESTful APIs. Checkout to our docs below!</p>
      <h3><a href="https://dre.540.co/apidocs/" class="">https://dre.540.co/apidocs/</a></h3>
    </div>
  </div>


  <div class="footer">
  </div>
</div>
