<div class="container">
  <div class="row">
    <div class="col-md-3 text-center">
      <img src="../images/dev-challenge-logo.png" alt="M-Cubed and 540 logo" title="M-Cubed/ 540 Logo" width="100%" id="about-m3-540"/>
    </div>
    <div class="col-md-9">
      <h1>About Drug Reactions Explained</h1>
      <hr>
      <p>As medical terms get harder and harder to understand, Drug Reactions Explained (DRE) provides clear definitions to the medical terms used to describe the reactions patients have experienced when taking certain drugs.</p>
      <p>
        This project leverages the drug / adverse events data provided by <a href="https://open.fda.gov/">openFDA APIs</a> and was built in support of the <a href="https://18f.gsa.gov/2015/06/15/agile-bpa-is-here/">18F Agile BPA procurement</a>.
      </p>
      <hr />
      <h3>How to use DRE</h3>
      <p>Using the search bar, type a brand name or drug to begin. DRE provides the top 6 reaction cards associated with the searched term and an analytical dashboard.</p>
      <br /><h5><strong>Reaction Cards</strong></h5>
      <p>
        The top 6 reactions associated with the searched term are populated into interactive cards. The reaction term is placed onto the front of the card. Clicking the card, flips it to the back where clear definitions are provided for better understanding.
      </p>
      <br /><h5><strong>Card Actions</strong></h5>
      <p>
        <i class="fa fa-thumbs-o-up"></i> Upvote a term definition
      </p>
      <p>
        <i class="fa fa-thumbs-o-down"></i> Downvote a term definition
      </p>
      <p>
        <i class="fa fa-plus"></i> Add a new term definition
      </p>
      <p>
        <i class="fa fa-repeat"></i> Flip card
      </p>
      <br /><h5><strong>Dashboard</strong></h5>
      <p>
        The dashboard provides an analytic view into openFDA's drug API and can view high level information in context of reported adverse effects of a drug/substance.
      </p>
      <hr />
      <h3>DRE APIs</h3>
      <p>In additon to using the <a href="https://open.fda.gov/">openFDA</a> APIs, DRE also maintains a collection of RESTful APIs to capture and maintain reaction definitions, definition popularity and search metrics.</p>
      <a href="apidocs" class="btn btn-dre" target="_blank">View API Docs</a></h3>
      <hr />

  </div>

  </div>
  <div class="row">
    <div class="col-md-3 text-center">
      <img src="../images/github.png" alt="github logo" title="github" width="50%" id="about-github-logo"/>

    </div>
    <div class="col-md-9">
      <h3>GitHub!</h3>
      <p>Drug Reactions Explained is opensource. It's developed, and maintained on GitHub.</p>
      <a href="https://github.com/540co/ads-bpa" class="btn btn-dre">View the GitHub project</a>
      <hr>
    </div>
  </div>

  <div class="footer">
  </div>
</div>
