<script type="text/javascript">
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>


<!-- Start search -->
<div class="row">
    <div class="col-md-12">
        <div class="input-group" id="search">
            <input type="text" class="form-control" ng-model="keyword" placeholder="Search brand name or drug (example: motrin)">
        </div>
    </div>
</div>
<div class="row text-center">
    <div class="col-md-12">
        <button class="btn btn-dre" type="button" ng-click="getResults(keyword)">Search</button>

        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Filters</a>

    </div>
</div>
<!-- End search -->
