

<header>
  <div class="header-content" id="header-style">
    <div class="row" id="intro-row">
        <div class="col-md-8 col-md-offset-2 text-center" id="header-content-text">
          <h3>Rhinorea = Runny Nose</h3><br>
          <h1><strong id="dre-title"><span class="text-icons">D</span>rug <span class="text-icons">R</span>eactions <span class="text-icons">E</span>xplained</strong></h1>
          <p class="lead divider-color">provides clear definitions to the medical terms used to describe the reactions patients have experienced when taking certain drugs.
</p>
        </div>
    </div>

            <div ng-init="initDashboard()">
                <!-- Start search -->

            <div id ="search-wrapper">


                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="input-group" id="search">
                            <input type="text" class="form-control" ng-model="keyword" placeholder="Search by drug name, brand, or substance name (Example: Enbrel)">
                            <span class="input-group-btn"></span>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-12">
                        <button class="btn btn-dre" type="button" ng-click="getResults(keyword)">SEARCH</button>
                    </div>
                </div>

              </div>
                <!-- End search -->



                <div class="container">


                <div class="row text-center">
                    <div class="col-md-4">
                      <h1>Search</h1>
                      <p>
                        Hodor hodor HODOR! Hodor hodor; hodor hodor hodor, hodor, hodor hodor. Hodor hodor
                      </p>
                    </div>
                    <div class="col-md-4">
                      <h1>Discover</h1>
                      <p>
                        Hodor hodor HODOR! Hodor hodor; hodor hodor hodor, hodor, hodor hodor. Hodor hodor
                      </p>
                    </div>
                    <div class="col-md-4">
                      <h1>Collaborate</h1>
                      <p>
                        Hodor hodor HODOR! Hodor hodor; hodor hodor hodor, hodor, hodor hodor. Hodor hodor
                      </p>
                    </div>
                </div>
            </div>
            </div>
            <!-- End container -->

  </div>
</header>

        <div class="footer text-center">
              <h4><span class="accent-color">Powered</span> by</h4><br />
              <a href="https://angularjs.org/"><img src="../images/angular.png" alt="AngularJS" title="AngularJS" class="footer-icon"/></a>
              <a href="http://aws.amazon.com/"><img src="../images/aws.png" atl="Amazon Web Services" title="Amazon Web Services" class="footer-icon"/></a>
              <a href="http://getbootstrap.com/"><img src="../images/bootstrap.png" alt="Bootstrap" title="Bootstrap" class="footer-icon"/></a>
              <a href="http://bower.io/"><img src="../images/bower.png" alt="Bower" title="Bower Package Manager"  class="footer-icon"/></a>
              <a href="https://github.com/google/cadvisor"><img src="../images/cadvisor.png" alt="cAdvisor" title="cAdvisor"  class="footer-icon"/></a>
              <a href="https://codeclimate.com/"><img src="../images/code-climate.jpg" alt="Code Climate" title="Code Climate" class="footer-icon"/></a>
              <a href="https://www.docker.com/"><img src="../images/docker.png" alt="Docker" title="Docker" class="footer-icon"/></a>
              <a href="http://expressjs.com/"><img src="../images/expressjs.png" alt="ExpressJS" title="ExpressJS"class="footer-icon"/></a>
              <a href="https://github.com/"><img src="../images/github.png" alt="GitHub" title="GitHub" class="footer-icon"/></a>
              <a href="http://gruntjs.com/"><img src="../images/grunt.png" alt="Grunt JS" title="Grunt Task Runner" class="footer-icon"/></a>
              <a href="http://jasmine.github.io/"><img src="../images/jasmine.png" alt="JasmineJS" title="Jasmine Behavior-Driven JavaScript" class="footer-icon"/></a>
              <a href="http://karma-runner.github.io/0.12/index.html"><img src="../images/karma.png" alt="KarmaJS" title="KarmaJS" class="footer-icon"/></a>
              <a href="http://mochajs.org/"><img src="../images/mocha.png" alt="MochaJS" title="MochaJS" class="footer-icon"/></a>
              <a href="https://www.mongodb.org/"><img src="../images/mongodb.png" alt="MongoDB" title="MongoDB" class="footer-icon"/></a>
              <a href="https://nodejs.org/"><img src="../images/node.png" alt="NodeJS" title="NodeJS" class="footer-icon"/></a>
              <a href="https://www.runscope.com/"><img src="../images/runscope.png" alt="Runscope" title="Runscope" class="footer-icon"/></a>
              <a href="https://slack.com/"><img src="../images/slack.png" alt="Slack" title="Slack" class="footer-icon"/></a>
              <a href="https://travis-ci.org/"><img src="../images/travis-ci.png" alt="Travis-CI" title="Travis-CI" class="footer-icon"/></a>
        </div>
